/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Navbar
 */


.navbar-nav{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-bottom: 1px solid black;
}
.nav-item{
  margin-left: 10px;
  height: 100%;
  padding: 10px;
}

.nav-item:hover{
  background-color: #337ab7;
  color: #FFF;
  text-decoration: none;
}
